.lang-select {
  position: relative;
  display: inline-block;
}

.lang-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  padding: 10px 16px;
  border-radius: 9999px;
  background-color: rgb(244, 244, 245);
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.lang-icon {
  width: 20px;
  height: 20px;
}

.lang-label {
  color: rgb(54, 65, 79);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
}

.lang-dropdown {
  position: absolute;
  right: 0;
  margin-top: 8px;
  width: 80px;
  background: rgb(244, 244, 245);
  border: 1px solid rgb(244, 244, 245);
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  z-index: 10;
  list-style: none;
}

.lang-item {
  padding: 6px 0 6px 5px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.lang-item:hover {
  background-color: #7a7b7c;
  color: #fff;
  border-radius: 6px;
}