#sotuvGazabeton {
  padding: 70px 0 120px 0;
}
#sotuvGazabeton .sotuvGazabeton {
  padding: 80px 20px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 56px;
}
@media (min-width: 800px) {
  #sotuvGazabeton .sotuvGazabeton {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
#sotuvGazabeton .sotuvGazabeton__page__title {
  color: rgb(54, 65, 79);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  max-width: 927px;
}
#sotuvGazabeton .sotuvGazabeton__page__title span {
  font-weight: 700;
}

.sotuv__title {
  color: rgb(17, 24, 39);
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  padding: 20px 0;
}
.sotuv__text {
  max-width: 927px;
  color: rgb(54, 65, 79);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 20px;
}
.sotuv h2 {
  color: rgb(54, 65, 79);
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  padding: 0 0 20px 0;
}
.sotuv__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
@media (min-width: 800px) {
  .sotuv__end {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.sotuv__end__button {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-align: left;
  text-transform: uppercase;
  border-radius: 12px;
  padding: 16px 65px;
  -webkit-box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  background: rgb(82, 82, 91);
}
@media (min-width: 800px) {
  .sotuv__end__button {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 16px 32px;
  }
}