#services {
  background-color: #fff;
  padding: 120px 0;
  .services {
    &__card {
      position: relative;
      overflow: hidden;
    }
    &__title {
      color: rgb(39, 39, 42);
      font-size: 36px;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: 0%;
      text-align: left;
      text-transform: uppercase;
      padding: 0 0 60px 0;
    }
    &__list {
      display: grid;
      grid-template-columns: repeat(1, 350px);
      border-radius: 16px;
      gap: 20px;
      @media (min-width: 700px) {
        grid-template-columns: repeat(2, 410px);
      }
      @media (min-width: 1000px) {
        grid-template-columns: repeat(3, 410px);
      }
    }
    &__content {
      position: absolute;
      z-index: 1;
      padding: 36px 0 0 36px;
      h3 {
        color: rgb(17, 24, 39);
        font-size: 32px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0%;
        text-align: left;
        max-width: 285px;
      }
      p {
        color: rgb(54, 65, 79);
        max-width: 327px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
      }
    }
    button {
      position: absolute;
      color: rgb(220, 38, 38);
      font-size: 15px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      padding: 16px 32px;
      border-radius: 12px;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
      backdrop-filter: blur(8px);
      background: rgb(255, 255, 255);
      z-index: 3;
      bottom: 32px;
      right: 20px;
    }
    img {
      border-radius: 16px;
      max-width: 350px;
      height: 560px;
      object-fit: cover;
      @media (min-width: 700px) {
        max-width: 350px;
      }
      @media (min-width: 900px) {
        max-width: 410px;
      }
    }
  }
}
