.aboutLinkCard {
  padding: 20px 8px;
  border-radius: 12px;
  background: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 310px;
  h3 {
    color: rgb(17, 24, 39);
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    padding: 0 0 12px 36px;
  }
  a {
    color: rgb(54, 65, 79);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    padding: 14px 36px;
    &.active {
      border-radius: 6px;
      background: rgb(220, 38, 38);
      color: #fff;
    }

    &:hover {
      background-color: rgb(220, 38, 38);
      color: #fff;
      border-radius: 6px;
    }
  }
}
