.category-tabs {
  display: grid;
  grid-template-columns: repeat(2, 170px);
  gap: 16px;
  margin-bottom: 24px;
  @media (min-width: 800px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 1000px) {
    grid-template-columns: repeat(4, 1fr);
  }

  .tab-btn {
    // width: 305px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
    border: none;
    border-radius: 8px;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: background 0.2s;
    color: rgb(39, 39, 42);
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;

    img {
      max-width: 70px;
      height: 60px;
      object-fit: cover;
      @media (min-width: 800px) {
        max-width: 120px;
        height: 75px;
      }
    }

    &.active {
      background-color: #e60000;
      color: white;
    }
  }
}
