.compare__bar {
  background-color: #dc2626;
  color: white;
  padding: 12px 24px;
  font-weight: 500;
  margin-bottom: 40px;
  .bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  p {
    margin: 0;
  }

  .compare__btn {
    background: #991b1b;
    box-shadow: 0px 1px 2px 0px #991b1b;
    border-radius: 18px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    padding: 4px 14px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;

    &:hover {
      background-color: #7f1d1d;
    }
  }
}
