.vakansiyalar {
  width: 100%;
  &__empty {
    text-align: center;
    font-size: 1.2rem;
    color: #888;
  }

  .vakansiya {
    width: 930px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    background: #f5f5f5;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 1.5rem;
      cursor: pointer;
      background-color: #f5f5f5;
      font-weight: 600;
      font-size: 1.1rem;
      max-width: 920px;
      width: 100%;
      span {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #111827;
      }

      .icon {
        font-size: 1.5rem;
        transition: transform 0.3s ease;

        &.open {
          transform: rotate(180deg);
        }
      }
    }

    &__body {
      padding: 1.5rem;
      width: 100%;

      .vakansiya__description {
        margin: 10px 0 15px 0;

        ul {
          margin-top: 0.5rem;
          padding-left: 1.2rem;
        }

        li {
          margin-bottom: 0.4rem;
        }
      }

      .vakansiya__btn {
        background-color: #2d6cdf;
        color: #fff;
        border: none;
        padding: 16px 32px;
        border-radius: 8px;
        cursor: pointer;
        font-weight: 500;
        transition: background 0.3s ease;
        box-shadow: 0px 4px 6px -4px #0000001a;
        background: #52525b;
        box-shadow: 0px 10px 15px -3px #0000001a;
      }
    }
  }
}
