#about {
  padding: 120px 0;
  .about__start {
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    @media (min-width: 900px) {
      flex-direction: row;
    }
    &__left {
      h3 {
        color: rgb(39, 39, 42);
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase;
        @media (min-width: 700px) {
          font-size: 36px;
        }
      }
    }
    &__right {
      h2 {
        color: rgb(17, 24, 39);
        font-size: 22px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: left;
        max-width: 328px;

        span {
          font-weight: 700;
        }
        @media (min-width: 700px) {
          font-size: 32px;
          line-height: 44px;
          max-width: 847px;
        }
      }
      p {
        color: rgb(54, 65, 79);
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: left;
        max-width: 847px;
        padding: 24px 0 36px 0;
      }
      button {
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.4px;
        text-align: center;
        text-transform: uppercase;
        padding: 16px 32px;
        border-radius: 12px;
        box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1),
          0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        background: rgb(220, 38, 38);
      }
    }
  }
  .about__end {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 20px;
    @media (min-width: 900px) {
      flex-direction: row;
    }
    &__left {
      img {
        border-radius: 16px;
        max-width: 355px;
        object-fit: cover;
        @media (min-width: 600px) {
          max-width: 413px;
        }
      }
    }
    h3 {
      color: rgb(17, 24, 39);
      font-size: 22px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: left;
      padding: 30px 0 12px 0;
    }
    p {
      color: rgb(54, 65, 79);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: left;
      max-width: 413px;
    }
    iframe {
      border-radius: 16px;
      width: 355px;
      height: 220px;
      @media (min-width: 800px) {
        width: 827px;
        height: 476px;
      }
    }
  }
}
