#products {
  padding-bottom: 70px;
  .products {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      @media (max-width: 680px) {
        
        flex-direction: column;
        gap: 20px;
        align-items: start;
      }
      &__link {
        width: 220px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 100px;
        border: 1px solid #454545;
        font-size: 16px;
        font-weight: 500;
        line-height: 21.86px;
        color: #454545;
        background-color: transparent;
        transition: 0.3s;
        svg {
          font-size: 20px;
          transition: 0.3s;
        }
        &:hover {
          background-color: #f2f2f2;
          svg {
            transform: translate(5px);
          }
        }
      }
    }
    &__title {
      color: rgba(17, 24, 39, 1);
      font-weight: 700;
      font-size: 32px;
      line-height: 44px;
      letter-spacing: 0%;
      vertical-align: middle;
    }
    &__categories {
      display: none;
      display: grid;
      grid-template-columns: repeat(auto-fill, 305px);
      align-items: center;
      justify-content: space-between;
      border-radius: 100px;
      margin-bottom: 56px;
      &__btn {
        color: rgba(39, 39, 42, 1);
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;
        padding-top: 4px;
      }
    }

    .active {
      color: #fff;
      background: rgba(220, 38, 38, 1);
    }

    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 0px 1px rgba(17, 24, 39, 0.05);
      background: rgba(245, 245, 245, 1);
      border-radius: 8px;
      padding: 10px 0;
    }
    &__category__select {
      width: 100%;
      height: 40px;
      border-radius: 8px;
      border: 1px solid #454545;
      font-size: 20px;
      display: none;
      background-color: transparent;
      outline: none;
      @media (max-width: 600px) {
        display: block;
      }
    }
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(4, 333px);
      gap: 24px;
      padding: 0 0 40px 0;
      @media (max-width: 1100px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: 760px) {
        grid-template-columns: repeat(1, 1fr);
        
      }
    }
    .simple__products__wrapper {
      display: block;
    }
    &__see__more__btn {
      display: block;
      max-width: 300px;
      width: 100%;
      height: 44px;
      font-size: 20px;
      border-radius: 4px;
      margin-left: auto;
      margin-right: auto;
      color: #fff;
      background-color: #454545;
    }
    .no__category {
      width: 100%;
      padding: 60px;
      text-align: center;
      background-color: #fff;
      p {
        font-size: 30px;
        @media (max-width: 500px) {
          font-size: 22px;
        }
      }
    }
  }
}
