.aboutSertifikat {
  &__title {
    color: rgb(54, 65, 79);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    max-width: 927px;
    span {
      font-weight: 700;
    }
  }
  &__box {
    display: grid;
    grid-template-columns: repeat(3, 295px);
    gap: 20px;
    padding: 36px 0;
  }
  .aboutSertifikat__card__title {
    color: rgb(39, 39, 42);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 16px;
  }

  .aboutSertifikat__card {
    img {
      border-radius: 8px;
      box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1),
        0px 10px 15px -3px rgba(0, 0, 0, 0.1),
        0px 0px 0px 1px rgba(17, 24, 39, 0.05);
    }
  }
}
