.aboutSinovtest {
  &__title {
    color: rgb(54, 65, 79);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    max-width: 927px;
    span {
      font-weight: 700;
    }
  }
}

.carousel-slide {
  overflow: hidden;
  max-width: 927px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 450px;

  .carousel-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.02);
    }
  }
}
