#product {
  background: rgb(245, 245, 245);
  padding: 120px 0;
  .product {
    &__title {
      color: rgb(39, 39, 42);
      font-size: 36px;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: 0%;
      text-align: center;
      text-transform: uppercase;
      @media (min-width: 600px) {
        text-align: left;
      }
    }
  }
  .product-list {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 60px 0 0 0;
    @media (min-width: 600px) {
      grid-template-columns: repeat(2, 280px);
      justify-content: space-between;
    }
    @media (min-width: 890px) {
      grid-template-columns: repeat(3, 280px);
      justify-content: space-between;
    }
    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, 300px);
      justify-content: space-between;
    }
  }

  .product-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
    padding: 14px 0;
    text-align: center;
    min-height: 330px;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

    h3 {
      color: rgb(39, 39, 42);
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: center;
      width: 200px;
      max-height: 48px;
    }

    button {
      padding: 16px 42px;
      width: 260px;
      background-color: #e60000;
      color: #fff;
      font-weight: 600;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.2s;
      @media (min-width: 1200px) {
        padding: 16px 32px;
      }

      &:hover {
        background-color: #cc0000;
      }
    }

    &:hover {
      transform: translateY(-5px);
    }
  }
}
