/* @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  transition: 0.3s;
  -webkit-tap-highlight-color: transparent;
}

button,
a,
li,
div {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

ul {
  list-style-type: none;
}

body {
  overflow-x: hidden;
}

select,
input {
  outline: none;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}
