.language-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.2s;
}

.language-item.selected {
  background-color: rgba(229, 57, 53, 0.1);
  border: 1px solid rgba(220, 38, 38, 1);
}

.language-list,
.language__button {
  padding: 16px 0;
}

.language-flag {
  font-size: 20px;
  margin-right: 15px;
}

.language-name {
  flex: 1;
  color: rgba(33, 34, 34, 1);
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.7%;
}

.language-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.language-item.selected .checkbox-circle {
  background-color: #e53935;
  border-color: #e53935;
}

.checkbox-check {
  color: white;
  font-size: 12px;
  display: none;
}

.language-item.selected .checkbox-check {
  display: block;
}

.language__title {
  color: rgba(33, 34, 34, 1);
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -1.3%;
  padding: 16px 0;
  text-align: center;
}
