.carusel {
  position: relative;
  padding: 0;
  .carusel__img {
    max-width: 927px;
    width: 100%;
  }
  .main-image {
    position: relative;
    height: 200px;
    @media (min-width: 600px) {
      width: 100%;
      height: 500;
    }
    .carusel__img1 {
      width: 100%;
      object-fit: cover;
      border-radius: 12px !important;
    }

    .nav-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 27px;
      backdrop-filter: blur(4px);
      background: rgba(220, 38, 38, 0.8);
      color: #fff;
      border: none;
      font-size: 21px;
      cursor: pointer;
      z-index: 10;
      width: 36px;
      height: 36px;
      transition: background-color 0.3s ease;
      @media (min-width: 700px) {
        width: 52px;
        height: 52px;
      }

      &.left {
        left: 5px;
        @media (min-width: 900px) {
          left: -22px;
        }
      }

      &.right {
        right: 5px;
        @media (min-width: 900px) {
          right: -22px;
        }
      }
    }
  }

  .thumbnail-row {
    display: flex;
    margin-top: 10px;

    .thumbnail {
      width: 140px;
      height: 90px;
      margin: 5px;
      cursor: pointer;
      position: relative;
      transition: 0.3s ease;

      &.active {
        opacity: 0.5;
      }

      .carusel__img2 {
        border-radius: 8px !important;
        object-fit: cover;
        max-width: 150px;
      }
    }
  }
}
