.order__header {
  display: flex;
  align-items: center;
  gap: 46px;
  padding: 10px 0 42px 0;
}

#order {
  padding: 13px 0 32px 0;
}

.order__header__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.7%;
  text-align: center;
}

.back-arrow {
  font-size: 20px;
  cursor: pointer;
}

.delivery__options {
  display: flex;
  gap: 10px;
}

.delivery__options .option {
  flex: 1;
  padding: 12px 0 12px 0;
  border-radius: 12px;
  background: #fff;
  border: none;
  color: rgb(75, 85, 99);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.6%;
  text-align: left;
  cursor: pointer;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  text-align: center;
}

.delivery__options .selected {
  border: 1px solid red;
  color: red;
  background: #fff5f5;
}

.order__form__button {
  margin-top: 20px;
  background: red;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 14px;
  font-size: 16px;
  cursor: pointer;
}
