#header {
  height: 72px;
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  background-color: #fff;
  transition: 0.5;
}

// .navbar-shirnk {
//   height: 70px;
//   box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
// }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  &__icons {
    @media (min-width: 800px) {
      display: none;
      opacity: 0;
    }
    img {
      @media (min-width: 800px) {
        display: none;
        opacity: 0;
      }
    }
  }
  &__list {
    display: none;
    @media (min-width: 1100px) {
      display: flex;
      align-items: center;
      gap: 32px;
    }
  }
  &__link {
    color: rgb(54, 65, 79);
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
  &__end,
  &__actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__phone {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 9999px;
    padding: 10px;
    background: rgb(220, 38, 38);
    @media (min-width: 800px) {
      padding: 10px 16px 10px 12px;
    }
    span {
      display: none;
      @media (min-width: 800px) {
        display: block;
      }
    }
  }
  .lang-dropdown {
    display: none;
    position: relative;
    @media (min-width: 800px) {
      display: block;
    }
  }
}

.circle-btn {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border-radius: 9999px;
  gap: 8px;
  background: rgb(244, 244, 245);
  color: rgb(54, 65, 79);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.lang-options {
  position: absolute;
  top: 110%;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  z-index: 20;
  min-width: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.lang-option {
  padding: 6px 10px;
  cursor: pointer;
  font-size: 13px;
  transition: background 0.2s;
  &:hover {
    background-color: #f5f5f5;
  }
  &.active {
    font-weight: bold;
    background-color: #e9e9e9;
  }
}

.nav__res {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.circle-btn {
  display: none;
  color: rgb(54, 65, 79);
  border-radius: 9999px;
  padding: 12px;
  background: rgb(244, 244, 245);
  @media (min-width: 700px) {
    display: flex;
  }
}

.circle__btn {
  color: rgb(54, 65, 79);
  border-radius: 9999px;
  padding: 12px;
  background: rgb(244, 244, 245);
  display: flex;
  align-items: center;
  gap: 10px;
}

.circle-btns {
  color: rgb(54, 65, 79);
  border-radius: 9999px;
  padding: 12px;
  background: rgb(244, 244, 245);
}

#navbar-responsive {
  position: fixed;
  top: 72px;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: start;
  padding: 0 30px;
  align-items: center;
  width: 100%;
  height: 100vh;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #fff;
  z-index: 99;
  transition: top 0.5s ease;
  overflow-y: auto;
}

#navbar-open {
  border: none;
  background-color: transparent;
}

.nav__lists {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.nav__link {
  color: rgb(54, 65, 79);
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

#navbar-responsive {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  transition: top 0.4s ease;
  background-color: #fff;
  z-index: 99;
  overflow-y: auto;

  .nav__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .nav__lists {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-top: 90px;
    gap: 30px;
    width: 100%;

    .nav__item {
      width: 100%;
      details summary {
        cursor: pointer;
        list-style-type: none;
        font-weight: 600;
      }

      .dropdown__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: rgba(245, 245, 245, 1);
        padding: 20px 0 20px 22px;
        margin-top: 10px;
        border-radius: 12px;

        li {
          a {
            color: rgba(54, 65, 79, 1);
            font-weight: 500;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 0%;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
