.footer {
  background-color: #f5f5f5;
  font-family: sans-serif;
  color: #222;

  .container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    gap: 40px;
    justify-content: space-between;
  }

  &__column {
    flex: 1 1 220px;
    min-width: 200px;

    h4 {
      color: rgba(17, 24, 39, 1);
      font-weight: 700;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0%;
      vertical-align: middle;
      margin: 10px 0;
    }

    p {
      color: rgba(54, 65, 79, 1);
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0%;
      vertical-align: middle;
      padding: 5px 0;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0 0 20px 0;

      li {
        padding: 14px 0;
        font-size: 14px;
        cursor: pointer;
        a {
          color: rgba(54, 65, 79, 1);
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0%;
          vertical-align: middle;
        }
      }
    }
  }

  &__socials {
    display: flex;
    gap: 24px;
    margin-top: 36px;
    a {
      color: rgb(54, 65, 79);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: left;
    }

    img {
      width: 22px;
      height: 22px;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__bottom {
    padding: 20px 0;
    border-top: 1px solid #ddd;
    text-align: center;
    font-size: 14px;
    background-color: #f5f5f5;
    width: 100%;
  }
}

.footer__logo {
  margin-bottom: 40px;
}
