@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  transition: 0.5s;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background: rgb(246, 247, 249);
}

#product__body {
  background: #fff !important;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 13px 0;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.7%;
  text-align: left;
  border-radius: 14px;
  background: rgb(220, 38, 38);
  border: none;
}

.home__calculator__card__button {
  display: flex;
  align-items: center;
  gap: 12px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.7%;
  text-align: left;
  padding: 13px 20px;
  border-radius: 14px;
  border: none !important;
  background: rgb(220, 38, 38);
}

.form__button__login {
  margin-top: 20px;
}

.verify__button {
  position: absolute;
  bottom: 30px;
  left: 20px;
  right: 20px;
  width: calc(100% - 40px);
  padding: 15px;
  background-color: #e53935;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
  display: flex;
  gap: 12px;
}

.cart__item {
  background: white;
  border-radius: 16px;
  padding: 10px 20px;
  display: flex;
  position: relative;
  margin: 16px 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  width: 100%;
}

.cart__item__img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-right: 12px;
  border-radius: 10px;
}

.cart__details {
  flex: 1;
}

.cart__details__title {
  padding: 0 0 8px 0;
  color: rgb(33, 34, 34);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.6%;
  text-align: left;
}

.cart__details__text {
  color: rgb(100, 116, 139);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.5%;
  text-align: left;
}

.cart__price {
  color: rgb(220, 38, 38);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.6%;
  text-align: left;
  border-top: 1px solid rgb(245, 245, 245);
  padding: 8px 0;
  display: block;
  margin-top: 4px;
}

.cart__quantity {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  width: fit-content;
  border-radius: 14px;
  background: rgb(234, 236, 241);
  width: 100%;
}

.product__quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 4px;
  width: fit-content;
  border-radius: 14px;
  background: rgb(234, 236, 241);
  width: 100%;
}

.cart__quantity__add {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  width: 36px;
  height: 36px;
  background: rgb(255, 255, 255);
}

.cart__quantity__add__img {
  width: 15px;
  height: 15px;
}

.cart__quantity__text {
  min-width: 20px;
  color: rgb(33, 34, 34);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.7%;
  text-align: center;
}

.cart__remove {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  border-radius: 50%;
  right: 5px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background: rgb(234, 236, 241);
}

.cart__remove img {
  width: 10px;
  height: 10px;
  margin: 0;
}

.product__details {
  color: rgba(100, 116, 139, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.5%;
  padding: 0 0 5px 0;
}

.product__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__group__input {
  padding: 13px 0 13px 12px;
  color: rgb(33, 34, 34);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.7%;
  text-align: left;
  width: 100%;
  border: 1px solid rgb(203, 213, 225);
  border-radius: 14px;
  background: rgb(255, 255, 255);
}

.form__group__label {
  color: rgb(33, 34, 34);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.6%;
  text-align: left;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #999;
}
.order__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.order__form__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__group {
  width: 100%;
  margin-bottom: 20px;
}

.form__group__labels {
  color: rgba(33, 34, 34, 1);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.6%;
}

.iti__selected-flag {
  background: rgba(248, 250, 252, 1);
  border-right: 1px solid rgb(203, 213, 225);
  padding: 12px 35px 12px 12px !important;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}

.form__group__phone {
  display: flex;
  border: 1px solid rgb(203, 213, 225);
  border-radius: 14px;
  background-color: #fff;
  margin-top: 10px;
}

.form__group__phone__input {
  width: 100%;
  padding: 12px 15px;
  border: none;
  outline: none;
  color: rgba(75, 85, 99, 1);
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.7%;
}

.form__group__phone__input::placeholder {
  font-weight: 400;
}

.form__group__phone__input {
  width: 100%;
  padding: 10px 10px 10px 80px !important;
  border-radius: 14px;
  font-size: 18px;
}

.form__select__hudud {
  position: relative;
}

.form__select {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.order__form__info__img {
  position: absolute;
  right: 10px;
  top: 67%;
  transform: translateY(-50%);
  pointer-events: none;
}
